<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="file" filename="cltoolbox.log"
                     filePattern="cltoolbox.log.%d{yyyy-MM-dd}">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd'T'HH:mm:ss'.'SSSzzz}&#9;%level&#9;%class&#9;%threadName-%threadId&#9;%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT"/>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="file" level="DEBUG"/>
            <AppenderRef ref="Console" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>
